.theme-classic {
    --background: #f0f0f0;
    --display-bg: #ffffff;
    --display-text: #000000;
    --button-bg: #e0e0e0;
    --button-text: #000000;
    --button-hover: #d0d0d0;
    --operator-bg: #ff9500;
    --operator-text: #ffffff;
    --operator-hover: #ff8000;
}


.theme-pastel {
  --background: #ffe5e5;
  --display-bg: #ffffff;
  --display-text: #4a4a4a;
  --button-bg: #ffd1dc;
  --button-text: #4a4a4a;
  --button-hover: #ffb3c6;
  --operator-bg: #b19cd9;
  --operator-text: #ffffff;
  --operator-hover: #9f85cf;
}


#root{
    background-color: var(--background);
    width: 400px;
    /* height: 550px; */
    color: whitesmoke;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 10px;
    border: 3px solid black;
    display: flex;
    gap: 15px;
    flex-direction: column;
    padding: 15px;
}

.key-container
{
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    margin: 0px;
}

button{
    width: 97px;
    height: 80px;
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 0px;
    font-size: large;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 0;
    margin: 0;
}

.input-field input {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-size: 50px;
    border-radius: 10px;
}

.operation-keys button
{
    display: flex;
    flex-direction: column;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    
}

.number-plus-other
{
    display: flex;
    flex-direction: column-reverse;
}

.number-plus-other button
{
    font-size: 30px;
}

.number-keys
{
    display: flex;
    flex-direction: column;
}

.row-four
{
    display: flex;
    gap: 4px;
}

#decimal
{
    flex: 2;
    font-weight: bold;
    font-size: large;
}

.extra-keys button
{
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 35px;
}

#backspace
{
    font-weight: bold;
}
